<!-- <div class="container">
  <h1>{{stationInfo.name}}</h1>
  <h2>{{stationInfo.readings[0]?.temp || '--'}}º</h2>
  <ion-list>
    <ion-item>
      <ion-label>{{stationInfo.readings[0]?.humidity || '--'}} %</ion-label>
      <ion-icon name="water-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>{{stationInfo.readings[0]?.rainMM || '--'}} mm</ion-label>
      <ion-icon name="rainy-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>{{stationInfo.readings[0]?.wSpeed || '--'}} km/h</ion-label>
      <ion-icon name="speedometer-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>{{stationInfo.readings[0]?.wDirection || '--'}}</ion-label>
      <ion-icon name="compass-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>{{stationInfo.readings[0]?.pm1 || '--'}} μg/m3</ion-label>
      <ion-icon src="/assets/air-quality.svg"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>{{stationInfo.readings[0]?.pm25 || '--'}} μg/m3</ion-label>
      <ion-icon src="/assets/air-quality.svg"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>{{stationInfo.readings[0]?.pm10 || '--'}} μg/m3</ion-label>
      <ion-icon src="/assets/air-quality.svg"></ion-icon>
    </ion-item>
  </ion-list>
</div> -->
